body {
    background-color: #ffffff;
}

#page-wrapper {
    height: 100%;
}

.fa-fw {
    margin-right: 5px;
}

.clear {
    clear: both;
}

.dropdown-menu.lang {
    width: auto;
    height: 60px;
}

nav.navbar div.collapse ul li.active > a {
    background-color: #080808;
    color: #fff;
}

#page-wrapper div.actions ul.side-nav {
    position: relative;
    left: 0;
    top: 4px;
    background-color: transparent;
    margin: 0;
    padding: 0 0 10px 15px;
}

#page-wrapper div.actions ul.side-nav li a:hover,
#page-wrapper div.actions ul.side-nav li a:focus {
    background-color: #ffffff !important;
}

.form-control {
    width: auto;
}

label {
    font-weight: normal;
}

.lang a.chosen-single {
    display: none !important;
}

.lang .chosen-container.chosen-with-drop .chosen-drop {
    position: static;
    border: none;
    box-shadow: none;
}

.lang .chosen-container .chosen-results {
    padding: 0;
    margin: 0 0 4px 0;
}

.lang .chosen-container .chosen-results li {
    padding-left: 20px;
}

.lang .chosen-container .chosen-results li.highlighted {
    background-image: none;
    background-color: #eee;
    color: #333333;
}

.tab-pane {
    padding-top: 15px;
}

div.input.checkbox input[type="checkbox"] {
    right: -32px;
    height: auto;
}

div.input.checkbox .control-label {
    margin-top: -15px;
}

.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 32px;
}

.voffset2  { margin-top: 2px; }
.voffset5 { margin-top: 5px; }
.voffset10 { margin-top: 10px; }
.voffset15 { margin-top: 15px; }
.voffset20 { margin-top: 20px; }

.account .checkbox label {
    padding: 0 0 0 15px;
}

th.actions {
    text-align: center;
    width: 115px;
}

th.ids, td.ids {
    text-align: center;
}

th.numbers {
    text-align: center;
}

td.numbers {
    text-align: right;
}

div.icon-contain {
    position: relative;
    height: 24px;
}

div.icon-contain i {
    position: absolute;
    top: 3px;
    left: 0;
}

div.icon-contain div {
    position: absolute;
    top: 1px;
    left: 20px;
    font-size: 12px;
}

div.icon-contain-inline {
    display: inline-block;
    padding-right: 5px;
}

.roledata_list td.actions {
    text-align: center;
}

.equipment {
    font-size: 12px;
}

form.form-inline div.input.col-xs-3 input {
    width: 100%;
}

div.equipment .table {
    width: auto;
}

#find_results {
    padding: 30px 0 0 15px;
}

.find_progress {
    padding: 2px 0 0 7px;
    font-size: 20px;
    vertical-align: top;
    display: none;
}

.equipment.find .table th.name {
    width: 150px;
}

.equip td.actions {
    text-align: center;
    font-size: 20px;
}

.equip td.actions .action {
    margin: 0 2px;
    display: inline-block;
}

.sort_container {
    display: inline-block;
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.modal-backdrop {
    z-index: 0;
}

#equip_add option.current {
    color: red;
    font-weight: bold;
}