body {
    background-color: #ffffff;
}

#page-wrapper {
    height: 100%;
}

.fa-fw {
    margin-right: 5px;
}

.clear {
    clear: both;
}

.dropdown-menu.lang {
    min-width: auto;
}

nav.navbar div.collapse ul li.active > a {
    background-color: #080808;
    color: #fff;
}

#page-wrapper div.actions ul.side-nav {
    position: relative;
    left: 0;
    top: 4px;
    background-color: #ffffff;
    margin: 0;
    padding: 0 0 10px 15px;
}

#page-wrapper div.actions ul.side-nav li a:hover,
#page-wrapper div.actions ul.side-nav li a:focus {
    background-color: #ffffff !important;
}

.main div.form {
    margin: 20px 0;
}

.main div.users {
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.main div.users fieldset {
    display: inline-block;
}

.main div.users div.input {
    margin-bottom: 5px;
}

.main div.users div.input input,
.main div.users div.input select {
    float: right;
    margin-left: 5px;
    width: 150px;
}

.main div.users div.button_block {
    padding-top: 5px;
}